<!DOCTYPE html>
<html>
<head>
  <title>Edit</title>
</head>
<body>
	<form action="/edit" method="post">
    	<label for="Username">Username:</label><input type="text" name="uname" value={{uname}}>
    	<br>
		<label for="First name">First name:</label><input type="text" name="fname" value={{fname}}>
    	<br>
    	<label for="Last name">Last name:</label><input type="text" name="lname" value={{lname}}>
    	<br>
        <select name="role">
            <option value="1">Admin</option>
            <option value="2">Regular</option>
        </select>
        <br>
    	<button type="submit">Save changes</button>
    </form>

    <a href="/delete/{{uname}}">Delete account</a>
</body>
</html>