<!DOCTYPE html>
<html>
<head>
  <title>Items</title>
</head>
<body>
  <h1>Items</h1>
  <ul>
    {{#each items}}
      <li><b>Name:</b> {{name}} <b>Description:</b> {{description}}</li>
    {{/each}}
  </ul>
</body>
</html>
