<!DOCTYPE html>
<html>
<head>
  <title>Payments</title>
</head>
<body>
	<form action="/pay" method="post">
    	<label for="creditCard">Credit card number:</label><input type="text" name="credit">
    	<br>
        <label for="cvc">Credit card number:</label><input type="text" name="cvc">
        <br>
    	<button type="submit">Pay</button>
    </form>
</body>
</html>